
 
html, body{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    font-family: 'Patrick Hand', cursive;
}

.backToM{
    text-decoration: none;
    color: inherit;
}

.backToM:focus,
.backToM:hover{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.navbar{
    background: linear-gradient(to left, #818181, #666666);
}
.navbar-brand{
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: .2rem;
}

.navbar-collapse {
    background-color: white;

}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    
  }

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-nav li{

    width: 100%;
  
}
.navbar-light .navbar-nav .nav-link {
    font-size: 1.2rem;
    color: black;
}

.bg-dark{
    background-color: lightgrey !important;
    color: black;
    
}

h4{
    font-weight: bold;
    letter-spacing: 0.1rem;
}